.parks-browse-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.parks-browse-cards {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 1400px;
}
