.parks-browse-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.parks-browse-cards {
    /* display: flex;
    justify-content: center;
    gap: 100px;
    width: 1400px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    row-gap: 28px;
}
