.list-detail-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.list-header {
    width: 91%;
}

.list-detail-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.list-detail-header-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.mod-list-button {
    font-family: monospace;
    font-size: 16px;
    background-color: inherit;
    border: 1px solid black;
    border-radius: 50px;
    padding: 8px;
}

.parks-browse-cards {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 1400px;
}

.edit-container {
    display: flex;
    justify-content: center;
}

.edit-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    padding: 25px;
    width: 200px;
}

.edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.edit-form h3 {
    margin: 0;
}

.edit-form-buttons {
    font-family: monospace;
    background-color: inherit;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 5px;
}

.explore-parks-button {
    font-family: monospace;
    font-size: 18px;
    background-color: inherit;
    border: 1px solid black;
    border-radius: 50px;
    padding: 8px;
    margin-top: 10px;
}

.no-parks-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    padding: 25px;
}

.park-delete-button {
    position: relative;
    right: -8px;
    bottom: -8px;
    background-color: rgb(221, 120, 120);
    border: 1px solid rgb(168, 15, 15);
    border-radius: 50%;
    color: rgb(168, 15, 15);
    justify-self: flex-end;
}

.park-delete-button:hover {
    cursor: pointer;
    border: 2px solid rgb(211, 19, 19);
}

/* .park-delete-button:hover + .park-card-comp {
    box-shadow: 0 0 5px red;
} */

.park-delete-button-container {
    display: flex;
    justify-content: flex-end;
}

.park-card-individual {
    padding-right: 8px;
}
