.park-card {
    display: flex;
    border: 1px solid #b3b3b3;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
}

.park-card-img {
    width: 75%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    padding: 0;
}

.park-info {
    height: 100%;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 0px;
    padding-top: 5px;
    margin-bottom: 14px;
    background-color: rgb(247, 168, 140);
    object-fit: cover;
}

.park-info>h2 {
    font-size: 15px;
}

