.signup-content {
    position: absolute;
    top: 430px;
    left: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    border: 2px dashed black;
    border-radius: 5%;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
