nav {
    top: 0;
    left: 0;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: black;
    font-size: 16px;
    height: 80px;
}

nav button {
    font-family: monospace;
    font-size: 16px;
    background-color: inherit;
    border: 1px solid black;
    border-radius: 50px;
    padding: 8px;
}

.site-options {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
}

.user-options {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    margin-right: 32px;
    padding-right: 16px;
}

.login-signup {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.login-signup>li {
    margin-left: 3px;
    margin-right: 3px;
}

.logged-in {
    margin-left: 8px;
    margin-right: 8px;
}
