.home {
    height: 100%;
    width: 100%;
    background: url(https://res.cloudinary.com/jenn/image/upload/v1645555686/our-spot/IMG_0989_bzwb6o.png);
    background-size: 90%;
    background-repeat: no-repeat;
}

.home-graphic {
    margin-right: 8px;
}

.home-graphic img {
    height: 500px;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
}

#root, body, html {
    height: 100%;
}
